body {
    background-color: #fffd8f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.trainAnimation {
    margin-left: 20%;
    margin-right: 25%;
    position: relative;
}

.content {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #212c35;
    border-radius: 10%;
    overflow: hidden;
}

.buildings {
    position: relative;
    background-color: rgb(5, 51, 83);
    width: 80px;
    height: 300px;
    left: 0;
    top: 150px;
    box-shadow: 80px 40px rgba(5, 51, 83), 120px -30px rgba(5, 51, 83), 150px 20px rgba(5, 51, 83), 190px -10px rgba(5, 51, 83, 0.5), 30px -10px rgba(5, 51, 83, 0.5), 220px 70px rgba(5, 51, 83), 280px -25px rgba(5, 51, 83, 0.5), 360px 20px rgba(5, 51, 83, 0.5), 270px 30px rgba(5, 51, 83), 320px 70px rgba(5, 51, 83);
}

.buildings:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 15px;
    background-color: rgb(255, 141, 35);
    left: 13px;
    top: 10px;
    box-shadow: 23px 0px rgb(255, 203, 75), 47px 0px rgb(255, 203, 75), 0px 30px rgb(252, 163, 17, 0.2), 23px 30px rgb(252, 163, 17, 0.2), 47px 30px rgb(252, 163, 17), 120px -30px rgb(255, 203, 75), 140px -30px rgb(252, 163, 17), 160px -30px rgb(252, 163, 17, 0.2), 120px 0px rgb(255, 203, 75), 140px 0px rgb(252, 163, 17, 0.2), 160px 0px rgb(252, 163, 17, 0.2), 270px 30px rgb(255, 203, 75), 290px 30px rgb(252, 163, 17, 0.2), 310px 30px rgb(252, 163, 17, 0.5);
}

.buildings:after {
    content: "";
    position: absolute;
    background-color: #041c2d;
    width: 100px;
    height: 250px;
    top: 90px;
    box-shadow: 100px 30px #041c2d, 150px -10px #041c2d, 230px 50px #041c2d, 300px -20px #041c2d;
}

.windows {
    position: absolute;
    background-color: rgb(255, 203, 75);
    width: 20px;
    height: 25px;
    left: 310px;
    top: 230px;
    box-shadow: 30px 0 rgb(255, 203, 75), 60px 0 rgb(252, 163, 170, 0.3), 30px 40px rgb(252, 163, 170, 0.3), 60px 40px rgb(252, 163, 17), -140px 20px rgb(252, 163, 17), -100px 20px rgb(252, 163, 17, 0.3), -100px 60px rgb(252, 163, 17), -250px 30px rgb(252, 163, 17, 0.8), -250px 70px rgb(252, 163, 17, 0.2), -290px 30px rgb(252, 163, 17, 0.2);
    animation: flash 4s ease infinite alternate;
}

.windows:before {
    content: "";
    position: absolute;
    background-color: rgb(166, 121, 7);
    width: 25px;
    height: 7px;
    left: -73px;
    top: -80px;
    box-shadow: 50px 15px rgba(163, 101, 1, 0.79), 125px 40px rgba(252, 162, 17, 0.27), 125px 55px rgb(252, 163, 17, 0.1);
}

.windows:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 163, 17);
    width: 15px;
    height: 20px;
    top: -50px;
    left: -102px;
    box-shadow: -115px 20px rgb(255, 203, 75), 47px 50px rgb(255, 203, 75);
    animation: flash 4s ease infinite alternate;
}

.bridge {
    position: absolute;
    z-index: 4;
    width: 400px;
    height: 5px;
    top: 280px;
    border-bottom: 5px solid #4f4f4f;
    border-top: 2px solid #000000;
}

.bridge:after,
.bridge:before {
    content: "";
    position: absolute;
    background-color: #000000;
}

.bridge:before {
    width: 2px;
    height: 5px;
    left: 60px;
    box-shadow: 110px 0px #000000, 160px 0px #000000, 270px 0px #000000, 320px 0px #000000;
}

.bridge:after {
    width: 15px;
    height: 150px;
    left: 110px;
    box-shadow: 160px 0 #000000;
}

.train {
    position: absolute;
    z-index: 3;
    animation-name: move;
    animation: move 6s linear infinite;
    animation-play-state: paused;
}

.carOne {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #fefefe;
    left: 220px;
    top: -50px;
    border-radius: 0 30px 0 0;
    overflow: hidden;
    box-shadow: inset 0 -5px #003e85;
}

.carOne:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 15px;
    background-color: #003e85;
    top: 5px;
    left: 60px;
}

.carOne:after {
    content: "";
    position: absolute;
    background-color: #faf500;
    width: 40px;
    height: 7px;
    left: 10px;
    top: 10px;
}

.carTwo {
    position: absolute;
    height: 30px;
    width: 90px;
    background-color: #fefefe;
    left: 125px;
    top: -50px;
    box-shadow: inset 0 -5px #003e85;
}

.carTwo:before {
    content: "";
    position: absolute;
    background-color: #faf500;
    width: 30px;
    height: 7px;
    top: 10px;
    left: 10px;
    box-shadow: 40px 0px #faf500;
}

.carTwo:after {
    position: absolute;
    content: "";
    background-color: #faf500;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 30px;
    left: 180px;
    box-shadow: -20px 0 #faf500, -40px 0 #faf500, -60px 0 #faf500, -80px 0 #faf500, -100px 0 #faf500, -120px 0 #faf500, -140px 0 #faf500, -160px 0 #faf500, -180px 0 #faf500, -200px 0 #faf500, -220px 0 #faf500, -240px 0 #faf500, -260px 0 #faf500, -280px 0 #faf500;
}

.carThree {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #fefefe;
    border-radius: 30px 0 0 0;
    overflow: hidden;
    box-shadow: inset 0 -5px #003e85;
    left: 20px;
    top: -50px;
}

.carThree:before {
    content: "";
    position: absolute;
    background-color: #003e85;
    width: 40px;
    height: 15px;
    top: 5px;
}

.carThree:after {
    content: "";
    position: absolute;
    background-color: #faf500;
    width: 40px;
    height: 7px;
    top: 10px;
    left: 50px;
}

.moon {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 5px 5px rgb(235, 235, 235);
    top: 50px;
    left: 200px;
    
}

.moon:before {
    content: "";
    position: absolute;
    background-color: rgb(234, 226, 183, 0.2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.moon:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: -5px;
    left: -5px;
    width: 60px;
    height: 60px;
    animation: flash 2s ease infinite alternate;
}

.stars {
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 2px;
    top: 55px;
    left: 150px;
    box-shadow: -70px 30px #fff, -40px -10px #fff, -20px -20px #fff, 34px -10px #fff, 50px -30px #fff, -30px 23px #fff, 95px -10px #fff, 120px -15px #fff, 140px 20px #fff, 155px 30px #fff, 175px 30px #fff, 145px 60px #fff,
        55px 50px #fff, -95px 50px #fff, -45px 60px #fff, 25px 30px #fff, 5px 40px #fff, 105px 30px #fff, -125px 30px #fff,
        -135px 70px #fff, -128px -30px #fff, -115px -9px #fff, -55px -30px #fff, -78px -20px #fff, -2px -44px #fff, 75px -39px #fff, 155px -29px #fff, 195px -10px #fff, 226px -9px #fff, 210px 12px #fff, 199px 48px #fff, 229px 87px #fff, 240px 33px #fff, 180px -42px #fff;
    animation: flash 0.6s ease infinite alternate;
}
#type{
    display: block;
}
#type p{
    color: #0f56a7;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;          
}
#type p:hover{
    color: #00244d;
}

.btn{
    align-items: center;
}
.btn button{
    font-size: larger;
    display: inline-flex;
    padding: 20px;    
    margin-left: 26%;  
    border-radius: 20%;   
}
.btn button:hover{
    box-shadow: inset 0px 2px 2px rgb(198, 255, 255);
    cursor: pointer;            
}

.play:hover{
    background-color: green;
    border: 4px solid rgb(10, 42, 10);
}
.pause:hover{
    background-color: red;
    border: 4px solid rgb(91, 2, 2);
}

@keyframes move {
    from {
        left: -350px;
    }

    to {
        left: 500px
    }
}

@keyframes flash {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0.5;
    }
}